*{
    font-family: Arial;
}
body{
    padding: 0;
    margin: 0;
}

.header{
    background: #111;
    color: #fff;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.menu{
    padding: 10px;
    background: #111;
}

.menu a{
    text-decoration: none;
    color:#fff;
    background: #111;
    padding: 10px;
}
.menu a:hover{
    background: #fff;
    color: #111;
}
.cuerpo{
    background: #eaeaea;
    padding: 30px;
    min-height: 385px;
}
.footer{
    padding: 30px;
}
